/* Bubble Container Style Rules */

.bubble_group { 
    background: rgba(0,0,0,.2);
    border-radius: 1em;
    padding: 1em;

    * {
      padding: 0.25em 0.5em;
    }
}

.bubble_single_item { 
    background: rgba(0,0,0,.2);
    border-radius: 1em;
    padding: 0.5em;
    margin: 0 0.2em;
}